<h1>The Grapevine</h1>
<br>
<h3>Wine Profile</h3><br>
  <p>Maker: <%= @wine.maker %></p>
  <p>Vintage: <%= @wine.vintage %></p>
  <p>Type: <%= @wine.wine_type %></p>
  <p>Region: <%= @wine.region %></p>
  <p>Price: <%= @wine.price %></p>
  <p>Grape Rating: <%= @wine.rating %></p>
  <p>Comment: <%= @wine.comment %></p>
<a href="/wines/<%=@wine.id%>/edit" class="button">Edit Wine</a><br><br>
<form action="/wines/<%= @wine.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" class= "button" value="Delete Wine">
</form><br>
<a href='/wines' class="button">My Grapevine</a>
