<h1>Show all wines</h1>
<p> Welcome, <%= current_user.username %>
<h2> Wines </h2>

<% @wines.each do |wine| %>
  <p>Maker: <%= wine.maker %></p>
  <p>Vintage: <%= wine.vintage %></p>
  <p>Type: <%= wine.wine_type %></p>
  <p>Region: <%= wine.region %></p>
  <p>Rating: <%= wine.rating %></p>
<% end %>
